<ion-view title="Carrinho" id="page7">
  <ion-content padding="true" style="background: url(img/123201556.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/K6IKaYSuWrXKozNZzoTQ_jeronimo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div ng-repeat="product in products">
      <ion-list>
        <ion-item class="item-avatar">
          <img src="{{product.productImage}}">
          <h2>{{product.productName}}</h2>
          <p style="font-size:20px;color:red;">{{"R$ " + product.productPrice.toFixed(2)}}</p>
        </ion-item>
      </ion-list>
    </div>

    <div class="show-list-numbers-and-dots">
      <p style="color:#000000;background-color: white;font-size:20px;color:red;">{{"Valor Total: R$ " + total.toFixed(2)}}</p>
    </div>

    <div class="show-list-numbers-and-dots"></div>

    <div class="button-bar">
      <button ui-sref="menu.home" class="button button-calm  button-block">Continuar compra</button>
      <button class="button button-balanced  button-block">Finalizar compra</button>
    </div>

  </ion-content>
</ion-view>
